<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">MtBnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Create Room', new_room_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
              <span><%= current_user.email %></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to 'My rooms', my_rooms_path, class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to 'My reservations', my_reservations_path, class: 'dropdown-item' %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Formulaire de recherche -->
<div class="container">
  <form class="d-flex gap-2 mb-4" role="search" action="<%= search_rooms_path %>" method="get">
    <label class="form-label">
      Where
      <input class="form-control me-2" type="search" name="query" placeholder="Search destinations" aria-label="Search destinations">
    </label>
    <label class="form-label">
      Check in
      <input class="form-control me-2" type="date" name="check_in" aria-label="Check in">
    </label>
    <label class="form-label">
      Check out
      <input class="form-control me-2" type="date" name="check_out" aria-label="Check out">
    </label>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>
